rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to create a message (Public)
    match /messages/{messageId} {
      allow create: if true;
      allow read: if request.auth != null && (
        resource.data.senderUid == request.auth.uid || 
        request.auth.token.email in ['murphysec72@gmail.com', 'idris.ghamid@gmail.com']
      );
      allow update, delete: if request.auth != null && request.auth.token.email in ['murphysec72@gmail.com', 'idris.ghamid@gmail.com'];
    }
  }
}
